<header class="w-full flex items-center justify-center h-24 bg-gray-800 text-white">
  <pre>
{{ section.settings.main-menu | json }}
</pre>
  <div class="container mx-auto flex items-center justify-between px-4">
    <div class="logo">
      <a href="{{ shop.url }}" class="text-2xl font-bold">
        {{ shop.name }}
      </a>
    </div>
    <nav class="main-menu">
      {% if section.settings.main-menu %}
        <ul class="flex space-x-4">
          {% for link in section.settings.main-menu.links %}
            <li>
              <a href="{{ link.url }}" class="hover:underline">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-sm text-gray-400">No menu items available {{ section.settings }}</p>
      {% endif %}
    </nav>
  </div>
  
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
